.navbar img{
    max-height: 280%;
    margin-top: -16%;
}
.navbar{
    padding: 2%;
    background-color: white;
}
.navbar a{
    color: black;
    font-weight: bold;
    font-size: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.navbar ul li{
    display: inline-block;
}
.bkcl{
    background-color:#72ccd2;
}
.center .container{
    width: 65%;
    color: black;
}
.row h1{
font-weight: bold;
font-size: 30px;
}
.row p{
    font-weight: bold;
}
.col-md-6{
    padding: 5% 10% 5% 3%;
}
.text h1{
    font-weight: bold;
    font-size: 60px;
}
.text h2{
    font-weight: bold;
    font-size: 30px;
}
.under{
    color: white;
    text-align: center;
    margin-top: 20%;
    padding: 4%;
}
.under h1{
    font-weight: bold;
}
.under button{
    color: black;
    background-color: white;
    border-radius: 0px;
    width: 8%;
    font-size: 15px;
}
.under input{
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: white;
    background-color: inherit;
}
.under img{width: 3%;}
input{
    width: 10%;
}